.DS_Store
__pycache__/
*.py[cod]
*.o
*.swp
.ipynb_checkpoints/
.idea/
data/raw_data
.hypothesis/
runs/
saved_runs/
data_root/kddcup2014/preprocessed_datapoints
data_root/raw_data
data_root/tabular
*.pkl
